<!DOCTYPE html>
<html>
  <head>
    <style media="screen">


    </style>
    <meta charset="utf-8">
    <title>Teacher</title>
  </head>
  <body>
    <h3>Teacher</h3>
    <a href="/">back</a>
    <table border="2px">
      <thead>
        <th>ID</th>
        <th>Subjectid</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>FULL NAME</th>
        <th>EMAIL</th>
        <th>Subject Name</th>
        <th>ACTION</th>
      </thead>
      <tbody>
        <%dataTeacher.forEach(dataT=>{%>
            <tr>
              <td><%=dataT.id%></td>
              <td><%=dataT.SubjectId%></td>
              <td><%=dataT.first_name%></td>
              <td><%=dataT.last_name%></td>
              <td><%=dataT.fullname()%></td>
              <td><%=dataT.email%></td>
              <%if(dataT.subject_name){%>
              <td><%=dataT.subject_name%></td>
              <%}else{%>
                <td>Assigned</td>
              <%}%>
              <td>
                <a href="/teacher/add">Add</a>
                <a href="/teacher/edit/<%=dataT.id%>">Edit</a>
                <a href="/teacher/delete/<%=dataT.id%>">delete</a></td>
              </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
